@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-bungee: "Bungee", cursive;
}

body {
    background-color: #0f172a;
    color: #f8fafc;
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}
