@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-bungee: "Bungee", cursive;
}

body {
    @apply bg-[#0f172a] text-[#f8fafc] font-sans;
}

.font-bungee {
    font-family: var(--font-bungee);
}
